[submodule "src/transforms"]
	path = src/transforms
	url = https://gitlab.com/honza.vanek/transforms.git
[submodule "src/oglutils"]
	path = src/oglutils
	url = https://gitlab.com/honza.vanek/oglutils.git
